@import url(https://fonts.google.com/specimen/Montserrat);
@import url(https://fonts.google.com/specimen/Fraunces);

body{
    background: hsl(30, 38%, 92%);
    box-sizing: border-box;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

    main{
        width: 335px;
        height: 530px;
        /* left: 33px; */
        background: white;
        border-radius: 10px;
    }
    
    main img{
        width: 100%;
        border-radius: 10px 10px 0px 0px;
    }
    
    .text #cat{
        position: relative;
        font-weight: 525;
        padding: 0.5rem 0 0 1.5rem;
        letter-spacing: 0.3em;
        font-size: 0.8rem;

        font-family: 'Noto Sans SC', sans-serif;    
        color: #938b8b;
    }
    
    .text #title{
        position: relative;
        font-weight: 1000;
        padding-left: 1.5rem;
        width: 70%;
        bottom: 10px;
        font-size: 1.6em;
        font-family: 'Fraunces', serif;
        line-height: 1em;
    }
    
    .text #desc{
        display: flex;
        align-items: center;
        gap: 10px;
        position: relative;
        font-weight: 520;
        padding-left: 1.5rem;
        width: 69%;
        font-size: 0.8em;
        bottom: 20px;

        line-height: 25px;
        font-family: 'Noto Sans SC', sans-serif;
        color: #757070;
    }
    
    .text #price{
        position: relative;
        padding-left:1.5rem;
        bottom: 30px;
        width: 283px;
        font-size: 1.5em;
        font-weight: 1000;
        font-family: 'Fraunces', serif;
        color: #3D8168;
    
    }
    
    .text #price2{
        position: relative;
        font-size: 0.9em;
        padding-left: 1rem;
        bottom: 32px;
        width: 263px;

        text-decoration-line: line-through;
        font-family: 'Fraunces', serif;
        color: #9c9393;
    }

    #cart{
        position: relative;
        text-decoration: none;
        font-size: 0.9em;
        height: 15px;
        left: 12px;
        margin: auto;
        width: 263px;
        padding: 15px 110px;
        background-color: #3D8168;
        color: white;
        border-radius: 10px;
        font-family: 'Noto Sans SC', sans-serif;
        bottom: 15px;
    }

    #cart:hover{
        background-color: rgb(3, 63, 3);
        color: white;
    }



@media screen and (min-width: 1440px) {
    main{
        width: 750px;
    }
    
    main img{
        width: 50%;
        height: 100%;
        border-radius: 10px 0px 0px 10px;
    }

    .text #cat{
        font-size: 0.8em;
        bottom: 40em;
        padding-left: 26rem;
    }
    
    .text #title{
        font-size: 2.5rem;
        width: 35%;
        bottom: 13em;
        padding-left: 26rem;
    }
    
    .text #desc{
        font-size: 1.3rem;
        width: 40%;
        bottom: 25em;
        padding-left: 26rem;
    }
    
    .text #price{
        font-size: 2.6rem;
        width: 40%;
        bottom: 510px;
        padding-left: 26rem;
    }
    
    .text #price2{
        width: 50%;
        bottom: 37.9em;
        padding-left: 37.7rem;
    }
    
    #cart{
        width: 215px;
        height: 15px;
        left: 27.9em;
        top: -33em;
        padding: 20px 110px;
    }
    


    
    
}
