@import url(https://fonts.google.com/specimen/Montserrat);
@import url(https://fonts.google.com/specimen/Fraunces);

body{
    background: hsl(30, 38%, 92%);
    box-sizing: border-box;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

    main{
        width: 335px;
        height: 630px;
        /* left: 33px; */
        background: white;
        border-radius: 10px;
    }
    
    main img{
        width: 100%;
        border-radius: 10px 10px 0px 0px;
    }
    
    .text #cat{
        position: relative;
        font-weight: 525;
        padding: 0 0 0 1.5rem;
        letter-spacing: 0.3em;

        font-family: 'Noto Sans SC', sans-serif;    
        color: #938b8b;
    }
    
    .text #title{
        position: relative;
        font-weight: 1000;
        padding: 0 0 0 1.5rem;
        width: 280px;
        font-size: 2em;
        font-family: 'Fraunces', serif;
        line-height: 1em;
    }
    
    .text #desc{
        display: flex;
        align-items: center;
        gap: 10px;
        position: relative;
        font-weight: 520;
        padding: 0 0 0 1.5rem;
        width: 295px;
        font-size: 1em;

        line-height: 25px;
        font-family: 'Noto Sans SC', sans-serif;
        color: #757070;
    }
    
    .text #price{
        position: relative;
        padding: 20rem 0 0 1.5rem;
        width: 283px;
        font-size: 1.95em;
        font-weight: 1000;
        font-family: 'Fraunces', serif;
        color: #3D8168;
    
    }
    
    .text #price2{
        position: relative;
        font-size: 0.9em;
        padding: 0 0 0 1rem;
        bottom: 5px;
        width: 263px;

        text-decoration-line: line-through;
        font-family: 'Fraunces', serif;
        color: #9c9393;
    }

    #cart{
        position: relative;
        text-decoration: none;
        font-size: 0.9em;
        height: 15px;
        left: 12px;
        margin: auto;
        bottom: -35px;
        width: 263px;
        padding: 20px 110px;
        background-color: #3D8168;
        color: white;
        border-radius: 6px;
        font-family: 'Noto Sans SC', sans-serif;
    }

    #cart:hover{
        background-color: rgb(3, 63, 3);
        color: white;
    }



@media screen and (min-width: 1440px) {
    main{
        width: 750px;
        /* height: 470px; */
    }
    
    main img{
        width: 50%;
        height: 100%;
        border-radius: 10px 0px 0px 10px;
    }

    .text #cat{
        font-size: 0.8em;
        bottom: 48em;
        padding: 0 0 0 26rem;
    }
    
    .text #title{
        font-size: 2.5rem;
        width: 230px;
        bottom: 15.5em;
        padding: 0 0 0 26rem;
    }
    
    .text #desc{
        font-size: 1.3rem;
        width: 305px;
        bottom: 29em;
        padding-left: 26rem;
    }
    
    .text #price{
        font-size: 2.6rem;
        width: 215px;
        bottom: 565px;
        padding: 0 0 0 26rem;
    }
    
    .text #price2{
        width: 215px;
        bottom: 41.5em;
        padding-left: 37.5rem;
    }
    
    #cart{
        width: 215px;
        height: 15px;
        left: 27.9em;
        top: -35em;
        padding: 20px 115px;
    }
    


    
    
}
